*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: rgba(34, 33, 33, 0.89) transparent;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;


}



body {
    margin: 0;
    height: 100vh; /* Definindo a altura do body como 100% da altura da viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #000000, #282830);
   
    overflow: hidden; /* Impede a barra de rolagem de aparecer */
    min-height: 100vh;
    max-height: 100vh ;
    padding: 0;
}


h1{
    color: white;
}

i{
    font-size: 1.4rem;
    text-align: center;
}

.containerButtons{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: .7rem;
    padding-left: .7rem;

    margin-top: .5rem;
    margin-bottom: -.5rem;
}

.cX{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cY{

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn{

    width: 65px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 500px) {

    h1{

        display: none;
    }
}